@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}
body{
    display: flex; 
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(57deg, rgba(248, 155, 93, 1), rgba(186, 64, 23, 1));
-webkit-background: linear-gradient(57deg, rgba(248, 155, 93, 1), rgba(186, 64, 23, 1));
-moz-background: linear-gradient(57deg, rgba(248, 155, 93, 1), rgba(186, 64, 23, 1));
color: #333;
animation: fadeIn 0.4s ease-in-out;

}
h1{
    color: #212020;
    font-size: 35px;
    margin-bottom: 20px;
}
.form-box{
   width: 100%;
   max-width: 450px;
   background-color: #fff;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input{
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    color: #333;
    background: #eee;
    margin-top: 10px;

}
label{
    font-size: 15px;
    color: #333;
    letter-spacing: 1px;
}
button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(248, 155, 93);
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1px;
    margin-left: 240px;
}
button a {
    text-decoration: none;
    color: #fff;
}
button:hover{
    background-color: rgb(244,135, 62);
}

