body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      .card {
        background: white;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px 30px;
        width: 1000px;
        
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }

      .card h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      .info {
        margin-bottom: 20px;
        line-height: 1.6;
      }

      .info strong {
        display: inline-block;
        width: 130px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid #ccc;
        padding: 8px 10px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }

      .btn {
        display: inline-block;
        background-color: #e7f1ff;
        border: 1px solid #007bff;
        color: #007bff;
        padding: 6px 14px;
        border-radius: 6px;
        text-decoration: none;
        float: right;
        margin-top: -50px;
      }

      .btn:hover {
        background-color: #007bff;
        color: white;
      }