@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(57deg, rgba(248, 155, 93, 1), rgba(186, 64, 23, 1));
  color: #333;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}
strong{
    font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1600px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  margin: 30px 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 35px;
}

form {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  margin-top: 15px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  flex: 100%;
}

label {
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
  margin-bottom: 20px;
}

input, textarea {
  padding: 10px 12px;
  border: 1px solid #bbb;
  border-radius: 8px;
  font-size: 15px;
}

textarea {
  resize: vertical;
}

.save-btn {
  display: inline-block;
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.save-btn:hover {
  background: #16a34a;
}



@media (max-width: 768px) {
  .container {
    width: 94%;
    padding: 20px;
  }

  form {
    padding: 15px;
  }

  .form-row {
    flex-direction: column;
  }

  input, textarea {
    font-size: 14px;
  }

  .save-btn {
    width: 100%;
    text-align: center;
  }
}
